
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding: 40px 0;
    background-color: var(--color-foreground);
    color: var(--color-outline);
    font-weight: bold;
    font-family: var(--font-title);
    font-size: 1.5rem;
    width: 100vw;
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    // animation: scroll 10s linear infinite;
    
    span {
        padding: 0 10px;
        display: inline-block;
        transition: color 0.3s;
        font-weight: 100;
        letter-spacing: 1px;
        top: 25px;
        &:hover {
            color: var(--color-outline);
        }

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background: var(--color-outline);
            display: inline-block;
            position: relative;
            left: -15px;
            top: -2.5px;
            transform: rotate(45deg);
        }
    }
}