body {
    margin: 0;
    font-family: var(--font-paragraph);
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.logo {
    display: grid;
    place-items: center;
}

.image {
    width: min(1165px, 85vw);
    margin: 177px auto 108px;
}

.button-container {
    display: grid;
    place-items: center;
}

.button {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 4rem;
    margin-bottom: 150px;
    background-color: var(--color-foreground);
    color: var(--color-outline);
    font-weight: bold;
    transition: 0.35s clip-path, .5s padding;
    transition-timing-function: cubic-bezier(1,-1.31, 0.44, 2.56);
    font-family: var(--font-extra);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);

    &:hover {
        padding: 1rem 5rem;
    }
}

// @keyframes scroll {
//   from {
//     transform: translateX(100%);
//   }
//   to {
//     transform: translateX(-100%);
//   }
// }